.authActions {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.username {
    margin: 0px;
    color: var(--white);
    font-size: var(--font-size);
}

.button {
    width: fit-content;
}

.user {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.userIcon {
    width: 1.5em;
    height: 1.5em;
    color: white
}

.downIcon {
    color: white;
}