.wrapper {
	position: relative;
	width: 100%;
}

.wrapper > * {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
}

.root {
	position: relative;
	width: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	top: 0px;
	right: 0px;
	padding: 0px;
}

.toastClassname {
	padding: 5px !important;
	font-family: var(--font-family);
	border-radius: 4px;
	padding: 1rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	position: relative;
	width: 100%;
	margin: 0;
}

.noAnimation {
	animation: no-animation 0s;
}

.root :global(.Toastify__toast-theme--colored.Toastify__toast--default) {
	background-color: var(--color-semantic-surface);
	color: var(--color-semantic-text-primary);
}

.root :global(.Toastify__toast-theme--colored.Toastify__toast--info) {
	background-color: var(--color-semantic-text-primary); /* Navy Blue */
	color: var(--color-semantic-secondary); /* Light Cream for text */
}

.root :global(.Toastify__toast-theme--colored.Toastify__toast--success) {
	background-color: var(--color-semantic-secondary); /* Light cream */
	color: var(--color-semantic-text-primary); /* Dark text for readability */
}

.root :global(.Toastify__toast-theme--colored.Toastify__toast--warning) {
	background-color: var(--color-alert); /* Coral for warning */
	color: var(--color-semantic-text-primary);
}

.root :global(.Toastify__toast-theme--colored.Toastify__toast--error) {
	background-color: var(--color-danger-background); /* Red for error */
	color: var(--color-semantic-text-primary);
}

@keyframes no-animation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
