

.resetPassword {
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 1px rgba(82, 123, 145, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    width: 100%;
    max-width: 600px;
    gap: 10px;
}

.resetButton {
    width: fit-content !important;
}

.form {
    display: flex;
    flex-direction:column;
    width: 100%;
    gap:10px;
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group label {
    align-self: flex-start;
}

.resetButton {
    align-self: center;
}

@media all and (max-width: 460px) {
    .resetButton {
        align-self: center;
    }
}
