.accountVerified {
	composes: info from '../../message-box/message-box.module.css';
}

.email {
	display: inline;
	font-family: var(--typography-font-family-body);
	font-weight: var(--typography-font-weight-semibold);
	color: var(--color-semantic-text-primary);
}
