.captcha {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.captchaWraper {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
}

.captchaImage {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    width: 250px;
    height: 50px;
}

@media all and (max-width: 400px) {
    .captchaWraper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .captchaImage {
        align-self: center;
    }
}

@media all and (max-width: 300px) {
    .captchaImage {
        align-self: center;
        max-width: 200px;
    }

    .captchaImage img{
        max-width: 200px;
    }
}
