.resetPassword {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius-lg);
	box-shadow: var(--color-semantic-shadow-sm);
	background-color: var(--color-semantic-surface-card);
	padding: var(--spacing-md);
	width: 100%;
	max-width: 600px;
	gap: var(--spacing-sm);
}

.resetButton {
	width: fit-content !important;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--spacing-sm);
}

.group {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.group label {
	align-self: flex-start;
}

.resetButton {
	align-self: center;
}

@media all and (max-width: 460px) {
	.resetButton {
		align-self: center;
	}
}
