.input {
	background-color: transparent;
	color: var(--color-semantic-text-primary);
	border: none;
}

.dropdown {
	background-color: transparent;
	border-color: var(--color-disabled-background);
}

.options {
	background-color: transparent;
}

.option {
	background-color: transparent;
	color: var(--color-semantic-text-primary);
}

.option:hover {
	color: var(--color-semantic-text-primary);
	background-color: var(--color-hover-default);
}
