.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 1px rgba(82, 123, 145, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    width: 100%;
    max-width: 600px;
    color: #1982c4;
    gap:20px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
}

.actionsGroup {
    composes: group;
    margin-top: 10px;
}

.sendButton {
    align-self: center;
    width: fit-content !important;
}

.subgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.messageBox {
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color:#1982c4;
}

@media all and (max-width: 950px) {
    .root {
        max-width: 500px;
    }
}

@media all and (max-width: 460px) {
    .subgroup {
        flex-direction: column;
        gap: 5px;
    }
}