.root {
	border: 1px solid var(--color-semantic-border-default);
	border-radius: var(--border-radius-sm);
	box-shadow: var(--color-semantic-shadow-sm);
	background-color: var(--color-semantic-surface-card);
	color: var(--color-semantic-text-primary);
	padding: var(--spacing-sm) var(--spacing-md);
}

.messageList {
	list-style-type: disc;
}

.messageList li {
	color: var(--color-semantic-text-primary);
}
