.root {
	border: 1px solid var(--color-primary);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow1);
	/* background-color: var(--color-surface); */
	color: var(--color-text-primary);
	padding: 10px 14px;
}

.messageList {
	list-style-type: disc;
}

.messageList li {
	color: var(--color-text-primary);
}