.root {
	display: flex;
	flex-direction: row;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: var(--spacing-sm);
}

.username {
	margin: 0px;
	color: var(--color-semantic-text-primary);
}

.user {
	display: flex;
	gap: 2px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.userIcon {
	width: 1.5em;
	height: 1.5em;
	color: var(--color-semantic-text-primary);
}

.downIcon {
	color: var(--color-semantic-text-primary);
}

.loginButton {
	padding: 3px 8px;
	border: 1px solid var(--color-semantic-border-medium);
	border-radius: var(--border-radius-sm);
	text-decoration: none;
	color: var(--color-semantic-interactive-link-default);
	background-color: transparent;
}

.homeButton {
	padding: 3px 8px;
	border: 1px solid var(--color-semantic-border-medium);
	border-radius: var(--border-radius-sm);
	text-decoration: none;
	color: var(--color-semantic-interactive-link-default);
	background-color: transparent;
}

.logoutButton {
	width: fit-content;
}
